In [2]:
import snowflake.connector
from dotenv import load_dotenv
import pandas as pd
import os

In [3]:
load_dotenv()

user_id = os.getenv("SNOWFLAKE_USERNAME")
password = os.getenv("SNOWFLAKE_PASSWORD")
account = os.getenv("SNOWFLAKE_ACCOUNT_ID")

def snowflake_connection():
    conn = snowflake.connector.connect(
        user=user_id,
        password=password,
        account=account,
        warehouse='compute_wh', 
        database='dev' 
    )

    return conn.cursor()

# print(f"✅ USER: [{repr(user_id)}]")
# print(f"✅ PASSWORD length: {len(password) if password else '❌'}")
# print(f"✅ ACCOUNT: [{account}]")

In [4]:
cursor = snowflake_connection()
cursor.execute("SELECT * FROM dev.raw_data.nps LIMIT 10")
columns = [col[0] for col in cursor.description]


print(columns)
rows = cursor.fetchall()

target_df = pd.DataFrame(rows, columns=columns)
target_df

['ID', 'CREATED', 'SCORE']

   ID             CREATED  SCORE
0   1 2019-01-01 22:04:21      1
1   2 2019-01-02 03:47:26      9
2   3 2019-01-03 19:31:41     10
3   4 2019-01-04 05:02:11     10
4   5 2019-01-04 18:02:53      1
5   6 2019-01-04 23:06:18      2
6   7 2019-01-05 13:45:47      0
7   8 2019-01-05 09:26:13      2
8   9 2019-01-05 22:36:38      6
9  10 2019-01-06 13:22:47     10

In [5]:
import requests 

def extract(url):
    f = requests.get(url) 
    return (f.text) 

def transform(text):
    lines = text.strip().split("\n") 
    records = [] 
    for l in lines:
        (country, capital) = l.split(",")
        records.append([country, capital])
    return records 

def load(cur, records):
    target_table = 'dev.raw_data.country_capital'
    cur.execute(f"""
    CREATE TABLE IF NOT EXISTS {target_table} (
        country varchar primary key,
        capital varchar
    )""")

    for r in records:
        country = r[0].replace("'", "''")
        capital = r[1].replace("'", "''")
        sql = f"INSERT INTO {target_table} (country, capital) VALUES ('{country}', '{capital}')"
        print(country, "-", capital, "->", sql)
        cur.execute(sql)

In [6]:
link = "https://s3-geospatial.s3.us-west-2.amazonaws.com/country_capital.csv"
data = extract(link)
data

"country,capital\nAbkhazia,Sukhumi\nAfghanistan,Kabul\nAkrotiri and Dhekelia,Episkopi Cantonment\nAlbania,Tirana\nAlgeria,Algiers\nAmerican Samoa,Pago Pago\nAndorra,Andorra la Vella\nAngola,Luanda\nAnguilla,The Valley\nAntigua and Barbuda,St. John's\nArgentina,Buenos Aires\nArmenia,Yerevan\nAruba,Oranjestad\nAscension Island,Georgetown\nAustralia,Canberra\nAustria,Vienna\nAzerbaijan,Baku\nBahamas,Nassau\nBahrain,Manama\nBangladesh,Dhaka\nBarbados,Bridgetown\nBelarus,Minsk\nBelgium,Brussels\nBelize,Belmopan\nBenin,Porto-Novo\nBermuda,Hamilton\nBhutan,Thimphu\nBolivia,La Paz\nBosnia and Herzegovina,Sarajevo\nBotswana,Gaborone\nBrazil,Brasâ\x88\x9aâ\x89\xa0lia\nBritish Virgin Islands,Road Town\nBrunei,Bandar Seri Begawan\nBulgaria,Sofia\nBurkina Faso,Ouagadougou\nBurundi,Bujumbura\nCambodia,Phnom Penh\nCameroon,Yaoundâ\x88\x9aÂ©\nCanada,Ottawa\nCape Verde,Praia\nCayman Islands,George Town\nCentral African Republic,Bangui\nChad,N'Djamena\nChile,Santiago\nChina,Beijing\nChristmas Island,Flying Fish Cove\nCocos (Keeling) Islands,West Island\nColombia,Bogotâ\x88\x9aÂ°\nComoros,Moroni\nCook Islands,Avarua\nCosta Rica,San Josâ\x88\x9aÂ©\nCroatia,Zagreb\nCuba,Havana\nCuraâ\x88\x9aÃ\x9fao,Willemstad\nCyprus,Nicosia\nCzech Republic,Prague\nCâ\x88\x9aÂ¥te d'Ivoire,Yamoussoukro\nDemocratic Republic of the Congo,Kinshasa\nDenmark,Copenhagen\nDjibouti,Djibouti\nDominica,Roseau\nDominican Republic,Santo Domingo\nEast Timor (Timor-Leste),Dili\nEaster Island,Hanga Roa\nEcuador,Quito\nEgypt,Cairo\nEl Salvador,San Salvador\nEquatorial Guinea,Malabo\nEritrea,Asmara\nEstonia,Tallinn\nEthiopia,Addis Ababa\nFalkland Islands,Stanley\nFaroe Islands,Tâ\x88\x9aâ\x89¥rshavn\nFederated States of Micronesia,Palikir\nFiji,Suva\nFinland,Helsinki\nFrance,Paris\nFrench Guiana,Cayenne\nFrench Polynesia,Papeete\nGabon,Libreville\nGambia,Banjul\nGeorgia,Tbilisi\nGermany,Berlin\nGhana,Accra\nGibraltar,Gibraltar\nGreece,Athens\nGreenland,Nuuk\nGrenada,St. George's\nGuam,Hagâ\x88\x9aâ\x80¢tâ\x88\x9aÂ±a\nGuatemala,Guatemala City\nGuernsey,St. Peter Port\nGuinea,Conakry\nGuinea-Bissau,Bissau\nGuyana,Georgetown\nHaiti,Port-au-Prince\nHonduras,Tegucigalpa\nHungary,Budapest\nIceland,Reykjavâ\x88\x9aâ\x89\xa0k\nIndia,New Delhi\nIndonesia,Jakarta\nIran,Tehran\nIraq,Baghdad\nIreland,Dublin\nIsle of Man,Douglas\nIsrael,Jerusalem\nItaly,Rome\nJamaica,Kingston\nJapan,Tokyo\nJersey,St. Helier\nJordan,Amman\nKazakhstan,Astana\nKenya,Nairobi\nKiribati,Tarawa\nKosovo,Pristina\nKuwait,Kuwait City\nKyrgyzstan,Bishkek\nLaos,Vientiane\nLatvia,Riga\nLebanon,Beirut\nLesotho,Maseru\nLiberia,Monrovia\nLibya,Tripoli\nLiechtenstein,Vaduz\nLithuania,Vilnius\nLuxembourg,Luxembourg\nMacedonia,Skopje\nMadagascar,Antananarivo\nMalawi,Lilongwe\nMalaysia,Kuala Lumpur\nMaldives,Malâ\x88\x9aÂ©\nMali,Bamako\nMalta,Valletta\nMarshall Islands,Majuro\nMauritania,Nouakchott\nMauritius,Port Louis\nMexico,Mexico City\nMoldova,Chisinau\nMonaco,Monaco\nMongolia,Ulaanbaatar\nMontenegro,Podgorica\nMontserrat,Plymouth\nMorocco,Rabat\nMozambique,Maputo\nMyanmar,Naypyidaw\nNagorno-Karabakh Republic,Stepanakert\nNamibia,Windhoek\nNauru,Yaren\nNepal,Kathmandu\nNetherlands,Amsterdam\nNew Caledonia,Noumâ\x88\x9aÂ©a\nNew Zealand,Wellington\nNicaragua,Managua\nNiger,Niamey\nNigeria,Abuja\nNiue,Alofi\nNorfolk Island,Kingston\nNorth Korea,Pyongyang\nNorthern Cyprus,Nicosia\nUnited Kingdom Northern Ireland,Belfast\nNorthern Mariana Islands,Saipan\nNorway,Oslo\nOman,Muscat\nPakistan,Islamabad\nPalau,Ngerulmud\nPalestine,Jerusalem\nPanama,Panama City\nPapua New Guinea,Port Moresby\nParaguay,Asunciâ\x88\x9aâ\x89¥n\nPeru,Lima\nPhilippines,Manila\nPitcairn Islands,Adamstown\nPoland,Warsaw\nPortugal,Lisbon\nPuerto Rico,San Juan\nQatar,Doha\nRepublic of China (Taiwan),Taipei\nRepublic of the Congo,Brazzaville\nRomania,Bucharest\nRussia,Moscow\nRwanda,Kigali\nSaint Barthâ\x88\x9aÂ©lemy,Gustavia\nSaint Helena,Jamestown\nSaint Kitts and Nevis,Basseterre\nSaint Lucia,Castries\nSaint Martin,Marigot\nSaint Pierre and Miquelon,St. Pierre\nSaint Vincent and the Grenadines,Kingstown\nSamoa,Apia\nSan Marino,San Marino\nSaudi Arabia,Riyadh\nScotland,Edinburgh\nSenegal,Dakar\nSerbia,Belgrade\nSeychelles,Victoria\nSierra Leone,Freetown\nSingapore,Singapore\nSint Maarten,Philipsburg\nSlovakia,Bratislava\nSlovenia,Ljubljana\nSolomon Islands,Honiara\nSomalia,Mogadishu\nSomaliland,Hargeisa\nSouth Africa,Pretoria\nSouth Georgia and the South Sandwich Islands,Grytviken\nSouth Korea,Seoul\nSouth Ossetia,Tskhinvali\nSouth Sudan,Juba\nSpain,Madrid\nSri Lanka,Sri Jayawardenapura Kotte\nSudan,Khartoum\nSuriname,Paramaribo\nSwaziland,Mbabane\nSweden,Stockholm\nSwitzerland,Bern\nSyria,Damascus\nSâ\x88\x9aÂ£o Tomâ\x88\x9aÂ© and Prâ\x88\x9aâ\x89\xa0ncipe,Sâ\x88\x9aÂ£o Tomâ\x88\x9aÂ©\nTajikistan,Dushanbe\nTanzania,Dodoma\nThailand,Bangkok\nTogo,Lomâ\x88\x9aÂ©\nTonga,NukuÂ\xa0Âªalofa\nTransnistria,Tiraspol\nTrinidad and Tobago,Port of Spain\nTristan da Cunha,Edinburgh of the Seven Seas\nTunisia,Tunis\nTurkey,Ankara\nTurkmenistan,Ashgabat\nTurks and Caicos Islands,Cockburn Town\nTuvalu,Funafuti\nUganda,Kampala\nUkraine,Kyiv\nUnited Arab Emirates,Abu Dhabi\nUnited Kingdom; England,London\nUnited States,Washington D.C.\nUnited States Virgin Islands,Charlotte Amalie\nUruguay,Montevideo\nUzbekistan,Tashkent\nVanuatu,Port Vila\nVatican City,Vatican City\nVenezuela,Caracas\nVietnam,Hanoi\nWales,Cardiff\nWallis and Futuna,Mata-Utu\nWestern Sahara,El Aaiâ\x88\x9aâ\x88«n\nYemen,Sanaâ\x88\x9aÂ°\nZambia,Lusaka\nZimbabwe,Harare\n"

In [7]:
len(data)

5069

In [8]:
lines = transform(data)
lines

[['country', 'capital'],
 ['Abkhazia', 'Sukhumi'],
 ['Afghanistan', 'Kabul'],
 ['Akrotiri and Dhekelia', 'Episkopi Cantonment'],
 ['Albania', 'Tirana'],
 ['Algeria', 'Algiers'],
 ['American Samoa', 'Pago Pago'],
 ['Andorra', 'Andorra la Vella'],
 ['Angola', 'Luanda'],
 ['Anguilla', 'The Valley'],
 ['Antigua and Barbuda', "St. John's"],
 ['Argentina', 'Buenos Aires'],
 ['Armenia', 'Yerevan'],
 ['Aruba', 'Oranjestad'],
 ['Ascension Island', 'Georgetown'],
 ['Australia', 'Canberra'],
 ['Austria', 'Vienna'],
 ['Azerbaijan', 'Baku'],
 ['Bahamas', 'Nassau'],
 ['Bahrain', 'Manama'],
 ['Bangladesh', 'Dhaka'],
 ['Barbados', 'Bridgetown'],
 ['Belarus', 'Minsk'],
 ['Belgium', 'Brussels'],
 ['Belize', 'Belmopan'],
 ['Benin', 'Porto-Novo'],
 ['Bermuda', 'Hamilton'],
 ['Bhutan', 'Thimphu'],
 ['Bolivia', 'La Paz'],
 ['Bosnia and Herzegovina', 'Sarajevo'],
 ['Botswana', 'Gaborone'],
 ['Brazil', 'Brasâ\x88\x9aâ\x89\xa0lia'],
 ['British Virgin Islands', 'Road Town'],
 ['Brunei', 'Bandar Seri Begawan'],
 ['Bulgaria', 'Sofia'],
 ['Burkina Faso', 'Ouagadougou'],
 ['Burundi', 'Bujumbura'],
 ['Cambodia', 'Phnom Penh'],
 ['Cameroon', 'Yaoundâ\x88\x9aÂ©'],
 ['Canada', 'Ottawa'],
 ['Cape Verde', 'Praia'],
 ['Cayman Islands', 'George Town'],
 ['Central African Republic', 'Bangui'],
 ['Chad', "N'Djamena"],
 ['Chile', 'Santiago'],
 ['China', 'Beijing'],
 ['Christmas Island', 'Flying Fish Cove'],
 ['Cocos (Keeling) Islands', 'West Island'],
 ['Colombia', 'Bogotâ\x88\x9aÂ°'],
 ['Comoros', 'Moroni'],
 ['Cook Islands', 'Avarua'],
 ['Costa Rica', 'San Josâ\x88\x9aÂ©'],
 ['Croatia', 'Zagreb'],
 ['Cuba', 'Havana'],
 ['Curaâ\x88\x9aÃ\x9fao', 'Willemstad'],
 ['Cyprus', 'Nicosia'],
 ['Czech Republic', 'Prague'],
 ["Câ\x88\x9aÂ¥te d'Ivoire", 'Yamoussoukro'],
 ['Democratic Republic of the Congo', 'Kinshasa'],
 ['Denmark', 'Copenhagen'],
 ['Djibouti', 'Djibouti'],
 ['Dominica', 'Roseau'],
 ['Dominican Republic', 'Santo Domingo'],
 ['East Timor (Timor-Leste)', 'Dili'],
 ['Easter Island', 'Hanga Roa'],
 ['Ecuador', 'Quito'],
 ['Egypt', 'Cairo'],
 ['El Salvador', 'San Salvador'],
 ['Equatorial Guinea', 'Malabo'],
 ['Eritrea', 'Asmara'],
 ['Estonia', 'Tallinn'],
 ['Ethiopia', 'Addis Ababa'],
 ['Falkland Islands', 'Stanley'],
 ['Faroe Islands', 'Tâ\x88\x9aâ\x89¥rshavn'],
 ['Federated States of Micronesia', 'Palikir'],
 ['Fiji', 'Suva'],
 ['Finland', 'Helsinki'],
 ['France', 'Paris'],
 ['French Guiana', 'Cayenne'],
 ['French Polynesia', 'Papeete'],
 ['Gabon', 'Libreville'],
 ['Gambia', 'Banjul'],
 ['Georgia', 'Tbilisi'],
 ['Germany', 'Berlin'],
 ['Ghana', 'Accra'],
 ['Gibraltar', 'Gibraltar'],
 ['Greece', 'Athens'],
 ['Greenland', 'Nuuk'],
 ['Grenada', "St. George's"],
 ['Guam', 'Hagâ\x88\x9aâ\x80¢tâ\x88\x9aÂ±a'],
 ['Guatemala', 'Guatemala City'],
 ['Guernsey', 'St. Peter Port'],
 ['Guinea', 'Conakry'],
 ['Guinea-Bissau', 'Bissau'],
 ['Guyana', 'Georgetown'],
 ['Haiti', 'Port-au-Prince'],
 ['Honduras', 'Tegucigalpa'],
 ['Hungary', 'Budapest'],
 ['Iceland', 'Reykjavâ\x88\x9aâ\x89\xa0k'],
 ['India', 'New Delhi'],
 ['Indonesia', 'Jakarta'],
 ['Iran', 'Tehran'],
 ['Iraq', 'Baghdad'],
 ['Ireland', 'Dublin'],
 ['Isle of Man', 'Douglas'],
 ['Israel', 'Jerusalem'],
 ['Italy', 'Rome'],
 ['Jamaica', 'Kingston'],
 ['Japan', 'Tokyo'],
 ['Jersey', 'St. Helier'],
 ['Jordan', 'Amman'],
 ['Kazakhstan', 'Astana'],
 ['Kenya', 'Nairobi'],
 ['Kiribati', 'Tarawa'],
 ['Kosovo', 'Pristina'],
 ['Kuwait', 'Kuwait City'],
 ['Kyrgyzstan', 'Bishkek'],
 ['Laos', 'Vientiane'],
 ['Latvia', 'Riga'],
 ['Lebanon', 'Beirut'],
 ['Lesotho', 'Maseru'],
 ['Liberia', 'Monrovia'],
 ['Libya', 'Tripoli'],
 ['Liechtenstein', 'Vaduz'],
 ['Lithuania', 'Vilnius'],
 ['Luxembourg', 'Luxembourg'],
 ['Macedonia', 'Skopje'],
 ['Madagascar', 'Antananarivo'],
 ['Malawi', 'Lilongwe'],
 ['Malaysia', 'Kuala Lumpur'],
 ['Maldives', 'Malâ\x88\x9aÂ©'],
 ['Mali', 'Bamako'],
 ['Malta', 'Valletta'],
 ['Marshall Islands', 'Majuro'],
 ['Mauritania', 'Nouakchott'],
 ['Mauritius', 'Port Louis'],
 ['Mexico', 'Mexico City'],
 ['Moldova', 'Chisinau'],
 ['Monaco', 'Monaco'],
 ['Mongolia', 'Ulaanbaatar'],
 ['Montenegro', 'Podgorica'],
 ['Montserrat', 'Plymouth'],
 ['Morocco', 'Rabat'],
 ['Mozambique', 'Maputo'],
 ['Myanmar', 'Naypyidaw'],
 ['Nagorno-Karabakh Republic', 'Stepanakert'],
 ['Namibia', 'Windhoek'],
 ['Nauru', 'Yaren'],
 ['Nepal', 'Kathmandu'],
 ['Netherlands', 'Amsterdam'],
 ['New Caledonia', 'Noumâ\x88\x9aÂ©a'],
 ['New Zealand', 'Wellington'],
 ['Nicaragua', 'Managua'],
 ['Niger', 'Niamey'],
 ['Nigeria', 'Abuja'],
 ['Niue', 'Alofi'],
 ['Norfolk Island', 'Kingston'],
 ['North Korea', 'Pyongyang'],
 ['Northern Cyprus', 'Nicosia'],
 ['United Kingdom Northern Ireland', 'Belfast'],
 ['Northern Mariana Islands', 'Saipan'],
 ['Norway', 'Oslo'],
 ['Oman', 'Muscat'],
 ['Pakistan', 'Islamabad'],
 ['Palau', 'Ngerulmud'],
 ['Palestine', 'Jerusalem'],
 ['Panama', 'Panama City'],
 ['Papua New Guinea', 'Port Moresby'],
 ['Paraguay', 'Asunciâ\x88\x9aâ\x89¥n'],
 ['Peru', 'Lima'],
 ['Philippines', 'Manila'],
 ['Pitcairn Islands', 'Adamstown'],
 ['Poland', 'Warsaw'],
 ['Portugal', 'Lisbon'],
 ['Puerto Rico', 'San Juan'],
 ['Qatar', 'Doha'],
 ['Republic of China (Taiwan)', 'Taipei'],
 ['Republic of the Congo', 'Brazzaville'],
 ['Romania', 'Bucharest'],
 ['Russia', 'Moscow'],
 ['Rwanda', 'Kigali'],
 ['Saint Barthâ\x88\x9aÂ©lemy', 'Gustavia'],
 ['Saint Helena', 'Jamestown'],
 ['Saint Kitts and Nevis', 'Basseterre'],
 ['Saint Lucia', 'Castries'],
 ['Saint Martin', 'Marigot'],
 ['Saint Pierre and Miquelon', 'St. Pierre'],
 ['Saint Vincent and the Grenadines', 'Kingstown'],
 ['Samoa', 'Apia'],
 ['San Marino', 'San Marino'],
 ['Saudi Arabia', 'Riyadh'],
 ['Scotland', 'Edinburgh'],
 ['Senegal', 'Dakar'],
 ['Serbia', 'Belgrade'],
 ['Seychelles', 'Victoria'],
 ['Sierra Leone', 'Freetown'],
 ['Singapore', 'Singapore'],
 ['Sint Maarten', 'Philipsburg'],
 ['Slovakia', 'Bratislava'],
 ['Slovenia', 'Ljubljana'],
 ['Solomon Islands', 'Honiara'],
 ['Somalia', 'Mogadishu'],
 ['Somaliland', 'Hargeisa'],
 ['South Africa', 'Pretoria'],
 ['South Georgia and the South Sandwich Islands', 'Grytviken'],
 ['South Korea', 'Seoul'],
 ['South Ossetia', 'Tskhinvali'],
 ['South Sudan', 'Juba'],
 ['Spain', 'Madrid'],
 ['Sri Lanka', 'Sri Jayawardenapura Kotte'],
 ['Sudan', 'Khartoum'],
 ['Suriname', 'Paramaribo'],
 ['Swaziland', 'Mbabane'],
 ['Sweden', 'Stockholm'],
 ['Switzerland', 'Bern'],
 ['Syria', 'Damascus'],
 ['Sâ\x88\x9aÂ£o Tomâ\x88\x9aÂ© and Prâ\x88\x9aâ\x89\xa0ncipe',
  'Sâ\x88\x9aÂ£o Tomâ\x88\x9aÂ©'],
 ['Tajikistan', 'Dushanbe'],
 ['Tanzania', 'Dodoma'],
 ['Thailand', 'Bangkok'],
 ['Togo', 'Lomâ\x88\x9aÂ©'],
 ['Tonga', 'NukuÂ\xa0Âªalofa'],
 ['Transnistria', 'Tiraspol'],
 ['Trinidad and Tobago', 'Port of Spain'],
 ['Tristan da Cunha', 'Edinburgh of the Seven Seas'],
 ['Tunisia', 'Tunis'],
 ['Turkey', 'Ankara'],
 ['Turkmenistan', 'Ashgabat'],
 ['Turks and Caicos Islands', 'Cockburn Town'],
 ['Tuvalu', 'Funafuti'],
 ['Uganda', 'Kampala'],
 ['Ukraine', 'Kyiv'],
 ['United Arab Emirates', 'Abu Dhabi'],
 ['United Kingdom; England', 'London'],
 ['United States', 'Washington D.C.'],
 ['United States Virgin Islands', 'Charlotte Amalie'],
 ['Uruguay', 'Montevideo'],
 ['Uzbekistan', 'Tashkent'],
 ['Vanuatu', 'Port Vila'],
 ['Vatican City', 'Vatican City'],
 ['Venezuela', 'Caracas'],
 ['Vietnam', 'Hanoi'],
 ['Wales', 'Cardiff'],
 ['Wallis and Futuna', 'Mata-Utu'],
 ['Western Sahara', 'El Aaiâ\x88\x9aâ\x88«n'],
 ['Yemen', 'Sanaâ\x88\x9aÂ°'],
 ['Zambia', 'Lusaka'],
 ['Zimbabwe', 'Harare']]

In [9]:
cur = snowflake_connection() 
# load(cur, lines)

In [10]:
# table를 읽어서 판다스 데이터프레임으로 변환하고 처음 5개의 레코드와 레코드 수를 표시
def check_table_stats(cur, table, key):
    result = cur.execute(f"SELECT * FROM {table} ORDER BY {key}")
    df = cur.fetch_pandas_all()
    print(len(df))
    print(df.head())
    return df

In [11]:
check_table_stats(cur, "dev.raw_data.country_capital", "country")

248
                 COUNTRY              CAPITAL
0               Abkhazia              Sukhumi
1            Afghanistan                Kabul
2  Akrotiri and Dhekelia  Episkopi Cantonment
3                Albania               Tirana
4                Algeria              Algiers

                   COUNTRY              CAPITAL
0                 Abkhazia              Sukhumi
1              Afghanistan                Kabul
2    Akrotiri and Dhekelia  Episkopi Cantonment
3                  Albania               Tirana
4                  Algeria              Algiers
..                     ...                  ...
243         Western Sahara        El Aaiââ«n
244                  Yemen            SanaâÂ°
245                 Zambia               Lusaka
246               Zimbabwe               Harare
247                country              capital

[248 rows x 2 columns]

## 위 ETL 코드를 다시 실행하고 멱등성(idempotency)이 지켜지는지 확인

In [14]:
data = extract(link)
lines = transform(data)
cur = snowflake_connection()
load(cur, lines)

country - capital -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('country', 'capital')
Abkhazia - Sukhumi -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Abkhazia', 'Sukhumi')
Afghanistan - Kabul -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Afghanistan', 'Kabul')
Akrotiri and Dhekelia - Episkopi Cantonment -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Akrotiri and Dhekelia', 'Episkopi Cantonment')
Albania - Tirana -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Albania', 'Tirana')
Algeria - Algiers -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Algeria', 'Algiers')
American Samoa - Pago Pago -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('American Samoa', 'Pago Pago')
Andorra - Andorra la Vella -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Andorra', 'Andorra la Vella')
Angola - Luanda -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Angola', 'Luanda')
Anguilla - The Valley -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Anguilla', 'The Valley')
Antigua and Barbuda - St. John''s -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Antigua and Barbuda', 'St. John''s')
Argentina - Buenos Aires -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Argentina', 'Buenos Aires')
Armenia - Yerevan -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Armenia', 'Yerevan')
Aruba - Oranjestad -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Aruba', 'Oranjestad')
Ascension Island - Georgetown -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Ascension Island', 'Georgetown')
Australia - Canberra -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Australia', 'Canberra')
Austria - Vienna -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Austria', 'Vienna')
Azerbaijan - Baku -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Azerbaijan', 'Baku')
Bahamas - Nassau -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bahamas', 'Nassau')
Bahrain - Manama -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bahrain', 'Manama')
Bangladesh - Dhaka -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bangladesh', 'Dhaka')
Barbados - Bridgetown -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Barbados', 'Bridgetown')
Belarus - Minsk -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Belarus', 'Minsk')
Belgium - Brussels -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Belgium', 'Brussels')
Belize - Belmopan -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Belize', 'Belmopan')
Benin - Porto-Novo -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Benin', 'Porto-Novo')
Bermuda - Hamilton -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bermuda', 'Hamilton')
Bhutan - Thimphu -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bhutan', 'Thimphu')
Bolivia - La Paz -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bolivia', 'La Paz')
Bosnia and Herzegovina - Sarajevo -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bosnia and Herzegovina', 'Sarajevo')
Botswana - Gaborone -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Botswana', 'Gaborone')
Brazil - Brasââ lia -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Brazil', 'Brasââ lia')
British Virgin Islands - Road Town -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('British Virgin Islands', 'Road Town')
Brunei - Bandar Seri Begawan -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Brunei', 'Bandar Seri Begawan')
Bulgaria - Sofia -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Bulgaria', 'Sofia')
Burkina Faso - Ouagadougou -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Burkina Faso', 'Ouagadougou')
Burundi - Bujumbura -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Burundi', 'Bujumbura')
Cambodia - Phnom Penh -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cambodia', 'Phnom Penh')
Cameroon - YaoundâÂ© -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cameroon', 'YaoundâÂ©')
Canada - Ottawa -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Canada', 'Ottawa')
Cape Verde - Praia -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cape Verde', 'Praia')
Cayman Islands - George Town -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cayman Islands', 'George Town')
Central African Republic - Bangui -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Central African Republic', 'Bangui')
Chad - N''Djamena -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Chad', 'N''Djamena')
Chile - Santiago -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Chile', 'Santiago')
China - Beijing -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('China', 'Beijing')
Christmas Island - Flying Fish Cove -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Christmas Island', 'Flying Fish Cove')
Cocos (Keeling) Islands - West Island -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cocos (Keeling) Islands', 'West Island')
Colombia - BogotâÂ° -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Colombia', 'BogotâÂ°')
Comoros - Moroni -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Comoros', 'Moroni')
Cook Islands - Avarua -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cook Islands', 'Avarua')
Costa Rica - San JosâÂ© -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Costa Rica', 'San JosâÂ©')
Croatia - Zagreb -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Croatia', 'Zagreb')
Cuba - Havana -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cuba', 'Havana')
CuraâÃao - Willemstad -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('CuraâÃao', 'Willemstad')
Cyprus - Nicosia -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Cyprus', 'Nicosia')
Czech Republic - Prague -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Czech Republic', 'Prague')
CâÂ¥te d''Ivoire - Yamoussoukro -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('CâÂ¥te d''Ivoire', 'Yamoussoukro')
Democratic Republic of the Congo - Kinshasa -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Democratic Republic of the Congo', 'Kinshasa')
Denmark - Copenhagen -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Denmark', 'Copenhagen')
Djibouti - Djibouti -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Djibouti', 'Djibouti')
Dominica - Roseau -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Dominica', 'Roseau')
Dominican Republic - Santo Domingo -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Dominican Republic', 'Santo Domingo')
East Timor (Timor-Leste) - Dili -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('East Timor (Timor-Leste)', 'Dili')
Easter Island - Hanga Roa -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Easter Island', 'Hanga Roa')
Ecuador - Quito -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Ecuador', 'Quito')
Egypt - Cairo -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Egypt', 'Cairo')
El Salvador - San Salvador -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('El Salvador', 'San Salvador')
Equatorial Guinea - Malabo -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Equatorial Guinea', 'Malabo')
Eritrea - Asmara -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Eritrea', 'Asmara')
Estonia - Tallinn -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Estonia', 'Tallinn')
Ethiopia - Addis Ababa -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Ethiopia', 'Addis Ababa')
Falkland Islands - Stanley -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Falkland Islands', 'Stanley')
Faroe Islands - Tââ¥rshavn -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Faroe Islands', 'Tââ¥rshavn')
Federated States of Micronesia - Palikir -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Federated States of Micronesia', 'Palikir')
Fiji - Suva -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Fiji', 'Suva')
Finland - Helsinki -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Finland', 'Helsinki')
France - Paris -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('France', 'Paris')
French Guiana - Cayenne -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('French Guiana', 'Cayenne')
French Polynesia - Papeete -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('French Polynesia', 'Papeete')
Gabon - Libreville -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Gabon', 'Libreville')
Gambia - Banjul -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Gambia', 'Banjul')
Georgia - Tbilisi -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Georgia', 'Tbilisi')
Germany - Berlin -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Germany', 'Berlin')
Ghana - Accra -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Ghana', 'Accra')
Gibraltar - Gibraltar -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Gibraltar', 'Gibraltar')
Greece - Athens -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Greece', 'Athens')
Greenland - Nuuk -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Greenland', 'Nuuk')
Grenada - St. George''s -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Grenada', 'St. George''s')
Guam - Hagââ¢tâÂ±a -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Guam', 'Hagââ¢tâÂ±a')
Guatemala - Guatemala City -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Guatemala', 'Guatemala City')
Guernsey - St. Peter Port -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Guernsey', 'St. Peter Port')
Guinea - Conakry -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Guinea', 'Conakry')
Guinea-Bissau - Bissau -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Guinea-Bissau', 'Bissau')
Guyana - Georgetown -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Guyana', 'Georgetown')
Haiti - Port-au-Prince -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Haiti', 'Port-au-Prince')
Honduras - Tegucigalpa -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Honduras', 'Tegucigalpa')
Hungary - Budapest -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Hungary', 'Budapest')
Iceland - Reykjavââ k -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Iceland', 'Reykjavââ k')
India - New Delhi -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('India', 'New Delhi')
Indonesia - Jakarta -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Indonesia', 'Jakarta')
Iran - Tehran -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Iran', 'Tehran')
Iraq - Baghdad -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Iraq', 'Baghdad')
Ireland - Dublin -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Ireland', 'Dublin')
Isle of Man - Douglas -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Isle of Man', 'Douglas')
Israel - Jerusalem -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Israel', 'Jerusalem')
Italy - Rome -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Italy', 'Rome')
Jamaica - Kingston -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Jamaica', 'Kingston')
Japan - Tokyo -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Japan', 'Tokyo')
Jersey - St. Helier -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Jersey', 'St. Helier')
Jordan - Amman -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Jordan', 'Amman')
Kazakhstan - Astana -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Kazakhstan', 'Astana')
Kenya - Nairobi -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Kenya', 'Nairobi')
Kiribati - Tarawa -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Kiribati', 'Tarawa')
Kosovo - Pristina -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Kosovo', 'Pristina')
Kuwait - Kuwait City -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Kuwait', 'Kuwait City')
Kyrgyzstan - Bishkek -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Kyrgyzstan', 'Bishkek')
Laos - Vientiane -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Laos', 'Vientiane')
Latvia - Riga -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Latvia', 'Riga')
Lebanon - Beirut -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Lebanon', 'Beirut')
Lesotho - Maseru -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Lesotho', 'Maseru')
Liberia - Monrovia -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Liberia', 'Monrovia')
Libya - Tripoli -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Libya', 'Tripoli')
Liechtenstein - Vaduz -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Liechtenstein', 'Vaduz')
Lithuania - Vilnius -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Lithuania', 'Vilnius')
Luxembourg - Luxembourg -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Luxembourg', 'Luxembourg')
Macedonia - Skopje -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Macedonia', 'Skopje')
Madagascar - Antananarivo -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Madagascar', 'Antananarivo')
Malawi - Lilongwe -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Malawi', 'Lilongwe')
Malaysia - Kuala Lumpur -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Malaysia', 'Kuala Lumpur')
Maldives - MalâÂ© -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Maldives', 'MalâÂ©')
Mali - Bamako -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Mali', 'Bamako')
Malta - Valletta -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Malta', 'Valletta')
Marshall Islands - Majuro -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Marshall Islands', 'Majuro')
Mauritania - Nouakchott -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Mauritania', 'Nouakchott')
Mauritius - Port Louis -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Mauritius', 'Port Louis')
Mexico - Mexico City -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Mexico', 'Mexico City')
Moldova - Chisinau -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Moldova', 'Chisinau')
Monaco - Monaco -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Monaco', 'Monaco')
Mongolia - Ulaanbaatar -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Mongolia', 'Ulaanbaatar')
Montenegro - Podgorica -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Montenegro', 'Podgorica')
Montserrat - Plymouth -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Montserrat', 'Plymouth')
Morocco - Rabat -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Morocco', 'Rabat')
Mozambique - Maputo -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Mozambique', 'Maputo')
Myanmar - Naypyidaw -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Myanmar', 'Naypyidaw')
Nagorno-Karabakh Republic - Stepanakert -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Nagorno-Karabakh Republic', 'Stepanakert')
Namibia - Windhoek -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Namibia', 'Windhoek')
Nauru - Yaren -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Nauru', 'Yaren')
Nepal - Kathmandu -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Nepal', 'Kathmandu')
Netherlands - Amsterdam -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Netherlands', 'Amsterdam')
New Caledonia - NoumâÂ©a -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('New Caledonia', 'NoumâÂ©a')
New Zealand - Wellington -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('New Zealand', 'Wellington')
Nicaragua - Managua -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Nicaragua', 'Managua')
Niger - Niamey -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Niger', 'Niamey')
Nigeria - Abuja -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Nigeria', 'Abuja')
Niue - Alofi -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Niue', 'Alofi')
Norfolk Island - Kingston -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Norfolk Island', 'Kingston')
North Korea - Pyongyang -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('North Korea', 'Pyongyang')
Northern Cyprus - Nicosia -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Northern Cyprus', 'Nicosia')
United Kingdom Northern Ireland - Belfast -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('United Kingdom Northern Ireland', 'Belfast')
Northern Mariana Islands - Saipan -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Northern Mariana Islands', 'Saipan')
Norway - Oslo -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Norway', 'Oslo')
Oman - Muscat -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Oman', 'Muscat')
Pakistan - Islamabad -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Pakistan', 'Islamabad')
Palau - Ngerulmud -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Palau', 'Ngerulmud')
Palestine - Jerusalem -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Palestine', 'Jerusalem')
Panama - Panama City -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Panama', 'Panama City')
Papua New Guinea - Port Moresby -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Papua New Guinea', 'Port Moresby')
Paraguay - Asunciââ¥n -> INSERT INTO dev.raw_data.country_capital (country, capital) VALUES ('Paraguay', 'Asunciââ¥n')

In [15]:
check_table_stats(cur, "dev.raw_data.country_capital", "country")

496
                 COUNTRY              CAPITAL
0               Abkhazia              Sukhumi
1               Abkhazia              Sukhumi
2            Afghanistan                Kabul
3            Afghanistan                Kabul
4  Akrotiri and Dhekelia  Episkopi Cantonment

                   COUNTRY              CAPITAL
0                 Abkhazia              Sukhumi
1                 Abkhazia              Sukhumi
2              Afghanistan                Kabul
3              Afghanistan                Kabul
4    Akrotiri and Dhekelia  Episkopi Cantonment
..                     ...                  ...
491                 Zambia               Lusaka
492               Zimbabwe               Harare
493               Zimbabwe               Harare
494                country              capital
495                country              capital

[496 rows x 2 columns]

In [16]:
# transform 함수를 개선해서 헤더를 빼고 리턴하게 만들자
def transform_v2(text):
    lines = text.strip().split("\n")
    records = []
    for l in lines:  # remove the first row
        (country, capital) = l.split(",")
        records.append([country, capital])
    return records[1:]

In [17]:
# load 함수를 개선해서 제대로 된 "Full refresh"를 구현하자
#  - 매번 테이블을 새로 만들고 레코드를 새로 적재하는 방식으로 구현
#  - SQL transaction을 사용하는 것이 일반적이지만 Snowflake은 SQL transaction을 지원하지
#    않기 때문에 다른 방식으로 구현
def load_v2(con, records):
    target_table = "dev.raw_data.country_capital"
    try:
        # 여기서 CREATE OR REPLACE TABLE이 사용되면 안됨. DDL이라 Snowflake에서는 transaction을 지키지 않기 때문
        con.execute(f"CREATE TABLE IF NOT EXISTS {target_table} (country varchar primary key, capital varchar);")
        con.execute("BEGIN;")
        con.execute(f"DELETE FROM {target_table};")
        for r in records:
            country = r[0].replace("'", "''")
            capital = r[1].replace("'", "''")
            print(country, "-", capital)

            sql = f"INSERT INTO {target_table} (country, capital) VALUES ('{country}', '{capital}')"
            con.execute(sql)
        con.execute("COMMIT;")
    except Exception as e:
        con.execute("ROLLBACK;")
        print(e)
        raise e

In [18]:
def country_capital_data_pipeline_v2(link):
    cur = snowflake_connection()
    data = extract(link)
    lines = transform_v2(data)
    load_v2(cur, lines)
    check_table_stats(cur, "dev.raw_data.country_capital", "country")
    cur.close()

In [19]:
link = "https://s3-geospatial.s3.us-west-2.amazonaws.com/country_capital.csv"
country_capital_data_pipeline_v2(link)

Abkhazia - Sukhumi
Afghanistan - Kabul
Akrotiri and Dhekelia - Episkopi Cantonment
Albania - Tirana
Algeria - Algiers
American Samoa - Pago Pago
Andorra - Andorra la Vella
Angola - Luanda
Anguilla - The Valley
Antigua and Barbuda - St. John''s
Argentina - Buenos Aires
Armenia - Yerevan
Aruba - Oranjestad
Ascension Island - Georgetown
Australia - Canberra
Austria - Vienna
Azerbaijan - Baku
Bahamas - Nassau
Bahrain - Manama
Bangladesh - Dhaka
Barbados - Bridgetown
Belarus - Minsk
Belgium - Brussels
Belize - Belmopan
Benin - Porto-Novo
Bermuda - Hamilton
Bhutan - Thimphu
Bolivia - La Paz
Bosnia and Herzegovina - Sarajevo
Botswana - Gaborone
Brazil - Brasââ lia
British Virgin Islands - Road Town
Brunei - Bandar Seri Begawan
Bulgaria - Sofia
Burkina Faso - Ouagadougou
Burundi - Bujumbura
Cambodia - Phnom Penh
Cameroon - YaoundâÂ©
Canada - Ottawa
Cape Verde - Praia
Cayman Islands - George Town
Central African Republic - Bangui
Chad - N''Djamena
Chile - Santiago
China - Beijing
Christmas Island - Flying Fish Cove
Cocos (Keeling) Islands - West Island
Colombia - BogotâÂ°
Comoros - Moroni
Cook Islands - Avarua
Costa Rica - San JosâÂ©
Croatia - Zagreb
Cuba - Havana
CuraâÃao - Willemstad
Cyprus - Nicosia
Czech Republic - Prague
CâÂ¥te d''Ivoire - Yamoussoukro
Democratic Republic of the Congo - Kinshasa
Denmark - Copenhagen
Djibouti - Djibouti
Dominica - Roseau
Dominican Republic - Santo Domingo
East Timor (Timor-Leste) - Dili
Easter Island - Hanga Roa
Ecuador - Quito
Egypt - Cairo
El Salvador - San Salvador
Equatorial Guinea - Malabo
Eritrea - Asmara
Estonia - Tallinn
Ethiopia - Addis Ababa
Falkland Islands - Stanley
Faroe Islands - Tââ¥rshavn
Federated States of Micronesia - Palikir
Fiji - Suva
Finland - Helsinki
France - Paris
French Guiana - Cayenne
French Polynesia - Papeete
Gabon - Libreville
Gambia - Banjul
Georgia - Tbilisi
Germany - Berlin
Ghana - Accra
Gibraltar - Gibraltar
Greece - Athens
Greenland - Nuuk
Grenada - St. George''s
Guam - Hagââ¢tâÂ±a
Guatemala - Guatemala City
Guernsey - St. Peter Port
Guinea - Conakry
Guinea-Bissau - Bissau
Guyana - Georgetown
Haiti - Port-au-Prince
Honduras - Tegucigalpa
Hungary - Budapest
Iceland - Reykjavââ k
India - New Delhi
Indonesia - Jakarta
Iran - Tehran
Iraq - Baghdad
Ireland - Dublin
Isle of Man - Douglas
Israel - Jerusalem
Italy - Rome
Jamaica - Kingston
Japan - Tokyo
Jersey - St. Helier
Jordan - Amman
Kazakhstan - Astana
Kenya - Nairobi
Kiribati - Tarawa
Kosovo - Pristina
Kuwait - Kuwait City
Kyrgyzstan - Bishkek
Laos - Vientiane
Latvia - Riga
Lebanon - Beirut
Lesotho - Maseru
Liberia - Monrovia
Libya - Tripoli
Liechtenstein - Vaduz
Lithuania - Vilnius
Luxembourg - Luxembourg
Macedonia - Skopje
Madagascar - Antananarivo
Malawi - Lilongwe
Malaysia - Kuala Lumpur
Maldives - MalâÂ©
Mali - Bamako
Malta - Valletta
Marshall Islands - Majuro
Mauritania - Nouakchott
Mauritius - Port Louis
Mexico - Mexico City
Moldova - Chisinau
Monaco - Monaco
Mongolia - Ulaanbaatar
Montenegro - Podgorica
Montserrat - Plymouth
Morocco - Rabat
Mozambique - Maputo
Myanmar - Naypyidaw
Nagorno-Karabakh Republic - Stepanakert
Namibia - Windhoek
Nauru - Yaren
Nepal - Kathmandu
Netherlands - Amsterdam
New Caledonia - NoumâÂ©a
New Zealand - Wellington
Nicaragua - Managua
Niger - Niamey
Nigeria - Abuja
Niue - Alofi
Norfolk Island - Kingston
North Korea - Pyongyang
Northern Cyprus - Nicosia
United Kingdom Northern Ireland - Belfast
Northern Mariana Islands - Saipan
Norway - Oslo
Oman - Muscat
Pakistan - Islamabad
Palau - Ngerulmud
Palestine - Jerusalem
Panama - Panama City
Papua New Guinea - Port Moresby
Paraguay - Asunciââ¥n
Peru - Lima
Philippines - Manila
Pitcairn Islands - Adamstown
Poland - Warsaw
Portugal - Lisbon
Puerto Rico - San Juan
Qatar - Doha
Republic of China (Taiwan) - Taipei
Republic of the Congo - Brazzaville
Romania - Bucharest
Russia - Moscow
Rwanda - Kigali
Saint BarthâÂ©lemy - Gustavia
Saint Helena - Jamestown
Saint Kitts and Nevis - Basseterre
Saint Lucia - Castries
Saint Martin - Marigot
Saint Pierre and Miquelon - St. Pierre
Saint Vincent and the Grenadines - Kingstown
Samoa - Apia
San Marino - San Marino
Saudi Arabia - Riyadh
Scotland - Edinburgh
Senegal - Dakar
Serbia - Belgrade
Seychelles - Victoria
Sierra Leone - Freetown
Singapore - Singapore
Sint Maarten - Philipsburg
Slovakia - Bratislava
Slovenia - Ljubljana
Solomon Islands - Honiara
Somalia - Mogadishu
Somaliland - Hargeisa
South Africa - Pretoria
South Georgia and the South Sandwich Islands - Grytviken
South Korea - Seoul
South Ossetia - Tskhinvali
South Sudan - Juba
Spain - Madrid
Sri Lanka - Sri Jayawardenapura Kotte
Sudan - Khartoum
Suriname - Paramaribo
Swaziland - Mbabane
Sweden - Stockholm
Switzerland - Bern
Syria - Damascus
SâÂ£o TomâÂ© and Prââ ncipe - SâÂ£o TomâÂ©
Tajikistan - Dushanbe
Tanzania - Dodoma
Thailand - Bangkok
Togo - LomâÂ©
Tonga - NukuÂ Âªalofa
Transnistria - Tiraspol
Trinidad and Tobago - Port of Spain
Tristan da Cunha - Edinburgh of the Seven Seas
Tunisia - Tunis
Turkey - Ankara
Turkmenistan - Ashgabat
Turks and Caicos Islands - Cockburn Town
Tuvalu - Funafuti
Uganda - Kampala
Ukraine - Kyiv
United Arab Emirates - Abu Dhabi
United Kingdom; England - London
United States - Washington D.C.
United States Virgin Islands - Charlotte Amalie
Uruguay - Montevideo
Uzbekistan - Tashkent
Vanuatu - Port Vila
Vatican City - Vatican City
Venezuela - Caracas
Vietnam - Hanoi
Wales - Cardiff
Wallis and Futuna - Mata-Utu
Western Sahara - El Aaiââ«n
Yemen - SanaâÂ°
Zambia - Lusaka
Zimbabwe - Harare
247
                 COUNTRY              CAPITAL
0               Abkhazia              Sukhumi
1            Afghanistan                Kabul
2  Akrotiri and Dhekelia  Episkopi Cantonment
3                Albania               Tirana
4                Algeria              Algiers

In [20]:
country_capital_data_pipeline_v2(link)

Abkhazia - Sukhumi
Afghanistan - Kabul
Akrotiri and Dhekelia - Episkopi Cantonment
Albania - Tirana
Algeria - Algiers
American Samoa - Pago Pago
Andorra - Andorra la Vella
Angola - Luanda
Anguilla - The Valley
Antigua and Barbuda - St. John''s
Argentina - Buenos Aires
Armenia - Yerevan
Aruba - Oranjestad
Ascension Island - Georgetown
Australia - Canberra
Austria - Vienna
Azerbaijan - Baku
Bahamas - Nassau
Bahrain - Manama
Bangladesh - Dhaka
Barbados - Bridgetown
Belarus - Minsk
Belgium - Brussels
Belize - Belmopan
Benin - Porto-Novo
Bermuda - Hamilton
Bhutan - Thimphu
Bolivia - La Paz
Bosnia and Herzegovina - Sarajevo
Botswana - Gaborone
Brazil - Brasââ lia
British Virgin Islands - Road Town
Brunei - Bandar Seri Begawan
Bulgaria - Sofia
Burkina Faso - Ouagadougou
Burundi - Bujumbura
Cambodia - Phnom Penh
Cameroon - YaoundâÂ©
Canada - Ottawa
Cape Verde - Praia
Cayman Islands - George Town
Central African Republic - Bangui
Chad - N''Djamena
Chile - Santiago
China - Beijing
Christmas Island - Flying Fish Cove
Cocos (Keeling) Islands - West Island
Colombia - BogotâÂ°
Comoros - Moroni
Cook Islands - Avarua
Costa Rica - San JosâÂ©
Croatia - Zagreb
Cuba - Havana
CuraâÃao - Willemstad
Cyprus - Nicosia
Czech Republic - Prague
CâÂ¥te d''Ivoire - Yamoussoukro
Democratic Republic of the Congo - Kinshasa
Denmark - Copenhagen
Djibouti - Djibouti
Dominica - Roseau
Dominican Republic - Santo Domingo
East Timor (Timor-Leste) - Dili
Easter Island - Hanga Roa
Ecuador - Quito
Egypt - Cairo
El Salvador - San Salvador
Equatorial Guinea - Malabo
Eritrea - Asmara
Estonia - Tallinn
Ethiopia - Addis Ababa
Falkland Islands - Stanley
Faroe Islands - Tââ¥rshavn
Federated States of Micronesia - Palikir
Fiji - Suva
Finland - Helsinki
France - Paris
French Guiana - Cayenne
French Polynesia - Papeete
Gabon - Libreville
Gambia - Banjul
Georgia - Tbilisi
Germany - Berlin
Ghana - Accra
Gibraltar - Gibraltar
Greece - Athens
Greenland - Nuuk
Grenada - St. George''s
Guam - Hagââ¢tâÂ±a
Guatemala - Guatemala City
Guernsey - St. Peter Port
Guinea - Conakry
Guinea-Bissau - Bissau
Guyana - Georgetown
Haiti - Port-au-Prince
Honduras - Tegucigalpa
Hungary - Budapest
Iceland - Reykjavââ k
India - New Delhi
Indonesia - Jakarta
Iran - Tehran
Iraq - Baghdad
Ireland - Dublin
Isle of Man - Douglas
Israel - Jerusalem
Italy - Rome
Jamaica - Kingston
Japan - Tokyo
Jersey - St. Helier
Jordan - Amman
Kazakhstan - Astana
Kenya - Nairobi
Kiribati - Tarawa
Kosovo - Pristina
Kuwait - Kuwait City
Kyrgyzstan - Bishkek
Laos - Vientiane
Latvia - Riga
Lebanon - Beirut
Lesotho - Maseru
Liberia - Monrovia
Libya - Tripoli
Liechtenstein - Vaduz
Lithuania - Vilnius
Luxembourg - Luxembourg
Macedonia - Skopje
Madagascar - Antananarivo
Malawi - Lilongwe
Malaysia - Kuala Lumpur
Maldives - MalâÂ©
Mali - Bamako
Malta - Valletta
Marshall Islands - Majuro
Mauritania - Nouakchott
Mauritius - Port Louis
Mexico - Mexico City
Moldova - Chisinau
Monaco - Monaco
Mongolia - Ulaanbaatar
Montenegro - Podgorica
Montserrat - Plymouth
Morocco - Rabat
Mozambique - Maputo
Myanmar - Naypyidaw
Nagorno-Karabakh Republic - Stepanakert
Namibia - Windhoek
Nauru - Yaren
Nepal - Kathmandu
Netherlands - Amsterdam
New Caledonia - NoumâÂ©a
New Zealand - Wellington
Nicaragua - Managua
Niger - Niamey
Nigeria - Abuja
Niue - Alofi
Norfolk Island - Kingston
North Korea - Pyongyang
Northern Cyprus - Nicosia
United Kingdom Northern Ireland - Belfast
Northern Mariana Islands - Saipan
Norway - Oslo
Oman - Muscat
Pakistan - Islamabad
Palau - Ngerulmud
Palestine - Jerusalem
Panama - Panama City
Papua New Guinea - Port Moresby
Paraguay - Asunciââ¥n
Peru - Lima
Philippines - Manila
Pitcairn Islands - Adamstown
Poland - Warsaw
Portugal - Lisbon
Puerto Rico - San Juan
Qatar - Doha
Republic of China (Taiwan) - Taipei
Republic of the Congo - Brazzaville
Romania - Bucharest
Russia - Moscow
Rwanda - Kigali
Saint BarthâÂ©lemy - Gustavia
Saint Helena - Jamestown
Saint Kitts and Nevis - Basseterre
Saint Lucia - Castries
Saint Martin - Marigot
Saint Pierre and Miquelon - St. Pierre
Saint Vincent and the Grenadines - Kingstown
Samoa - Apia
San Marino - San Marino
Saudi Arabia - Riyadh
Scotland - Edinburgh
Senegal - Dakar
Serbia - Belgrade
Seychelles - Victoria
Sierra Leone - Freetown
Singapore - Singapore
Sint Maarten - Philipsburg
Slovakia - Bratislava
Slovenia - Ljubljana
Solomon Islands - Honiara
Somalia - Mogadishu
Somaliland - Hargeisa
South Africa - Pretoria
South Georgia and the South Sandwich Islands - Grytviken
South Korea - Seoul
South Ossetia - Tskhinvali
South Sudan - Juba
Spain - Madrid
Sri Lanka - Sri Jayawardenapura Kotte
Sudan - Khartoum
Suriname - Paramaribo
Swaziland - Mbabane
Sweden - Stockholm
Switzerland - Bern
Syria - Damascus
SâÂ£o TomâÂ© and Prââ ncipe - SâÂ£o TomâÂ©
Tajikistan - Dushanbe
Tanzania - Dodoma
Thailand - Bangkok
Togo - LomâÂ©
Tonga - NukuÂ Âªalofa
Transnistria - Tiraspol
Trinidad and Tobago - Port of Spain
Tristan da Cunha - Edinburgh of the Seven Seas
Tunisia - Tunis
Turkey - Ankara
Turkmenistan - Ashgabat
Turks and Caicos Islands - Cockburn Town
Tuvalu - Funafuti
Uganda - Kampala
Ukraine - Kyiv
United Arab Emirates - Abu Dhabi
United Kingdom; England - London
United States - Washington D.C.
United States Virgin Islands - Charlotte Amalie
Uruguay - Montevideo
Uzbekistan - Tashkent
Vanuatu - Port Vila
Vatican City - Vatican City
Venezuela - Caracas
Vietnam - Hanoi
Wales - Cardiff
Wallis and Futuna - Mata-Utu
Western Sahara - El Aaiââ«n
Yemen - SanaâÂ°
Zambia - Lusaka
Zimbabwe - Harare
247
                 COUNTRY              CAPITAL
0               Abkhazia              Sukhumi
1            Afghanistan                Kabul
2  Akrotiri and Dhekelia  Episkopi Cantonment
3                Albania               Tirana
4                Algeria              Algiers

In [21]:
# 이번에는 Transaction이 제대로 동작하는지 load_v3를 만들고 고의로 SQL 문법 에러를 내보기
def load_v3(con, records):
    target_table = "dev.raw_data.country_capital"
    try:
        con.execute("BEGIN;")
        # 여기서 CREATE OR REPLACE TABLE이 사용되면 안됨. DDL이라 Snowflake에서는 transaction을 지키지 않기 때문
        con.execute(f"CREATE TABLE IF NOT EXISTS {target_table} (country varchar primary key, capital varchar);")
        con.execute(f"DELETE FROM {target_table};")
        for r in records:
            country = r[0].replace("'", "''")
            capital = r[1].replace("'", "''")
            print(country, "-", capital)

            # 아래 고의로 에러를 냈음
            sql = f"INSERT INTTO {target_table} (country, capital) VALUES ('{country}', '{capital}')"
            con.execute(sql)
        con.execute("COMMIT;")
    except Exception as e:
        con.execute("ROLLBACK;")
        print(e)
        raise e

In [22]:
load_v3(cur, lines)

country - capital
001003 (42000): SQL compilation error:
syntax error line 1 at position 7 unexpected 'INTTO'.

ProgrammingError: 001003 (42000): SQL compilation error:
syntax error line 1 at position 7 unexpected 'INTTO'.

In [23]:
# transaction이 동작하지 않았다면 앞서 DELETE가 실행되어서 테이블의 내용이 없어야함.
# 248개의 레코드가 있음을 확인해보자
cur.execute("SELECT COUNT(1) FROM dev.raw_data.country_capital")
results = cur.fetchone()
print(results)

(247,)